<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- <button>Check the movies</button> --}}
<a href="/movies"><button>Check the movies</button></a>
<img src="/images/cinema.jpg" alt=" Movie with Popcorn">
<h2>Cinema Ironhack</h2>